@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html {
    font-size: 26px;
    font-family: Manrope;
    color: hsl(193, 38%, 86%);
}

body {
    background-color: hsl(218, 23%, 16%);

}

main {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
    width: 400px;
    margin: 150px auto 50px auto;
    background-color: hsl(217, 19%, 24%);
    padding: 1rem;
}

h1 {
    text-align: center;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: hsl(150, 100%, 66%);
    margin-bottom: 1.5rem;
}

p{
    text-align: center;
    margin-bottom: 0.5rem;

}

.divider {
    position: relative;
    top: 30px;
}

#btn {
    align-self: center;
    position: relative;
    top: 55px;
    width: 1rem;
    height: 1rem;
    padding: 0.65rem;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
    transition: all 0.3s;
}

#btn:hover {
    box-shadow: 0rem 0rem 1.5rem hsl(150, 100%, 66%);
    transform: rotate(45deg);
    transition: all 0.3s;
}

#icon {
    width: 1rem;
}

.mobile {
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 375px) {
    main {
        width: 75%;
        height: auto;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}